*.o
*.lo
.libs
autom4te.cache
core
config.log
config.status
docs/html
docs/latex
examples/display/display
include/config.h.in~
include/config.h
include/stamp-*
libtool
Makefile
src/.deps
src/libdebctrl.a
src/libdebctrl.la
src/libdebctrl.pc
src/libdebctrl.so*
